// COLORS
$cl-white           : #FFFFFF;
$cl-secondary-white : #F4F4F4;
$cl-gray            : #797979;
$cl-light-gray      : #8a8a8a;
$cl-black           : #292929;
$cl-light-red       : #ffb7b7;

//BASE
$base-background-color  : $cl-secondary-white;
$base-text-color        :#333333;
$primary-color          :#FF365D;
$secondary-color        :#07A4C0;
$font-size-small        : .8em;
$font-size-base         : 12px;
$font-size-medium       : 1.5em;
$font-size-large        : 2em;

//$assetPath: ''
