<div class="breadcrumb-wrapper">
<!-- 
  https://stackoverflow.com/questions/39532454/change-active-tab-in-navbar-when-router-navigate-is-used
  https://plnkr.co/edit/6WFsnxv3jDsxcuc3AFYB?p=preview
  -->
  <div class="breadcrumb-block" routerLinkActive="bc-active">
    <span class="fa fa-user-o circle"></span>
    <span class="title">Step1</span>
  </div>

  <div class="breadcrumb-block" routerLinkActive="bc-active">
    <span class="fa fa-handshake-o circle"></span>
    <span class="title">Step2</span>
  </div>

  <div class="breadcrumb-block" routerLinkActive="bc-active">
    <span class="fa fa-check circle"></span>
    <span class="title">Step3</span>
  </div>

</div>
<!--
  <div class="breadcrumb-wrapper">
  <ul>
    <li routerLink="step1" routerLinkActive="bc-active">
      <span class="fa fa-user-o"></span>
      <span class="title">Step1</span>
    </li>
    <li routerLink="step2" routerLinkActive="bc-active">
      <span class="fa fa-handshake-o"></span>
      <span class="title">Step2</span>
    </li>
    <li routerLink="step3" routerLinkActive="bc-active">
      <span class="fa fa-check"></span>
      <span class="title">Step3</span>
    </li>
  </ul>
</div> 
-->
<!-- https://codepen.io/bookcasey/pen/cEntL -->