<div class="breadcrumb-wrapper">
  <ul>
    <li routerLink="step1" routerLinkActive="bc-active">
      
        <span class="fa fa-user-o"></span>
      
      <span class="title">Step1</span>
    </li>
    <li routerLink="step2" routerLinkActive="bc-active"> 
      
        <span class="fa fa-handshake-o"></span>
      
      <span class="title">Step2</span>
    </li>
    <li routerLink="step3" routerLinkActive="bc-active">
      
        <span class="fa fa-check"></span>
      
      <span class="title">Step3</span>
    </li>
  </ul>
</div>

<!-- https://codepen.io/bookcasey/pen/cEntL -->