<div class="container">
  <div class="row">
    <div class="col-12 me-portrait">
      <img src="../../assets/users/photo/1.jpg" alt="me" class="rounded-circle">
    </div>
  </div>
  <div class="row me-description">
      <div class="col-md-3"></div>
      <div class="col-md-6 text-center">
          <h2>Ricardo Gonzales</h2>
          <h5>Drummer / Guitarrist</h5>
          <p>
              I like to play the drums and guitar, I've been playing for a long time and im pretty excited to join a band where I can develop more about performing.
          </p>
      </div>
      <div class="col-md-3"></div>
  </div>
  <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
          <h6>This is my section one</h6>
          <p>
              This is my description about this section and other additional info to complete this paragraph.
          </p>

      </div>
      <div class="col-md-3"></div>
  </div>

  
</div>
