@import '../../../assets/scss/_variables';

.profile-wrapper {
    background-color: $cl-white;

}

.me-portrait {
    background: url('../../../assets/img/users/portada.png');
    background-size: cover;
    height: 377px;
    border-bottom: .21em solid $cl-black;
}

.me-portrait img {
    width: 144px;
    height: 144px;
    border: .21em solid $cl-white;
    position: absolute;
    left: 50%;
    margin-left: -72px;
    top: 100%;
    margin-top: -72px;
}

.me-description {
    margin-top: 5em;
}
.me-description .me-description-p {
    padding: 0 5em;
    font-size: .8em;
    color: $cl-light-gray;
}
.me-content {
    margin-top: 1em;
}

h6 {
    padding: .8em 0;
    border-bottom: thin solid $cl-light-red;
}