@import '../../../assets/scss/_variables';

.me-sign-up-container {
    margin-top: 8%;
}

ul.me-social-access {
    margin: 0;
    padding: 0;
}

ul.me-social-access li {
    display: inline-block;
    
}
ul.me-social-access li a {
    font-size: 1.2em;
    padding: .5em;
    color: #797979;
}
ul.me-social-access li a:hover {
    color: #F4F4F4;
}
.me-bolder {
    font-size: 2em;
    color: #797979;
    font-weight: bolder;
}
